<div class="card-section">
  <div class="column small-12 medium-8 large-6 text-center">

    <h3 class="text-center">{{name}}<small></small></h3>
    <p class="flex-container align-center">{{content}}</p>
    <div class="callout">
      <ul class="menu simple">
        <li><a href="#">Author: {{user.name}}</a></li>
      </ul>
    </div>
  </div>
</div>