<div>
  <form class="login-form">
    <h4 class="text-center">Log in with you email account</h4>
    <label>Email
      <input id="email-login" type="email" placeholder="somebody@example.com">
    </label>
    <label>Password
      <input id="password-login" type="password" placeholder="Password">
    </label>
    <p><input type="submit" class="button expanded" value="Log in"></input></p>
  </form>
</div>

<br>
<hr>
<br>

<div class="login-card">
  <form class="signup-form">
    <h4 class="text-center">Sign up!</h4>
    <label>Name
        <input type="text" id="name-signup" placeholder="name">
    </label>
    <label>Email
        <input type="email" id="email-signup" placeholder="somebody@example.com">
    </label>
    <label>Password
      <input type="password" id="password-signup" placeholder="Password">
    </label>
    <p><input type="submit" class="button expanded" value="Sign up"></input></p>
   </form>
</div>

<script src="./js/login.js"></script>