
<div class="blog-post">
        <h3>{{name}}<small></small></h3>
        
        <p>{{content}}</p>
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">Author: {{user.name}}</a></li>
            <li><a href="#">Comments: {{user.content}}</a></li>
           
          </ul>
        </div>
</div>